/* Body general style */

body {
    background-image: url("../images/Left-young-woman--showing-the-vulcan-salute.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #e3999a; /* Used if the image is unavailable */
    text-align: right;
    color: #40271b;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* https://fonts.google.com/specimen/Mukta?query=mukta */
    font-family: 'Mukta', sans-serif;
    
}

/* Logo */
.logo > div {
    line-height: 34px;
    width: 150px;
    flex: auto;
}

#container_title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 50%;
    width: 750px;
    height: 275px;
    padding: 30px;
    border-style: solid;
    border-color: #99ff99;
    border-radius: 15px;
    border-width: 1px;
    text-align: center;
    opacity: 0.70;
    background-color: #f7dcd4;
    margin-top: 40px;
}


#atom_logo {
    background-color: #f7dcd4;
    border-radius: 50%;
}

#atom_logo img {
    width: 200px;
    height: auto;
}

#title {
    font-size: 44px;
    font-weight: 600;
}


#game_area_container {
    margin-top: 40px;
    margin-left: 50%;
    width: 750px;
    height: 630px;
    padding: 30px;
    border-style: solid;
    border-color: #99ffff;
    border-radius: 15px;
    border-width: 1px;
    opacity: 0.70;
    background-color: #f7dcd4;
}




button {
    border: none;
    cursor: pointer;
    overflow: hidden;
    background: #eea8a8;
    border-style: solid;
    border: 10px;
    border-radius: 15px;
}



footer {
    margin-top: auto;
    margin-bottom: 20px;
    font-size: 14px;
    text-align: center;
    border-style: solid;
    border-color: #99ffd6;
    border-radius: 15px;
    border-width: 1px;
    opacity: 0.70;
}


/* Media queries */
@media screen and (max-width: 1200px) {
#container_title {
    align-self: center;
}
#game_area_container { 
    width: 65%;
    align-self: center;
    margin-left: 50%;
    }
footer {
    align-self: center;
    margin-bottom: 20px;

}

}